.cardGroup {
  display: flex;
  justify-content: space-around;
  margin: 2% 0;
  .card {
    background-color: indigo;
    color: #fff;
    width: 33.33333%;
    .card-body > .inputText {
      padding: 0 3%;
    }
    .search {
      display: flex;
      .fa-search {
        color: #fff;
      }
      input {
        width: 70%;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s;
        padding: 0 3%;
        outline: none;
        &:focus {
          border: 2px solid #75bef8;
        }
      }
    }
  }
}

.table {
  text-align: center;
  vertical-align: middle;
  th {
    background-color: indigo;
    color: #fff;
  }
  th,
  td {
    vertical-align: middle;
    text-align: center;
  }
  .feature {
    display: flex;
    justify-content: space-around;
  }
}

nav {
  display: flex;
  justify-content: center;
}
